@use '../../global-styles/variables.scss' as v;
@use '../../global-styles/mixins' as m;

.info-message {
  @include m.container;
  @include m.containerPaddings;
  margin-top: 20px;
}
  
.info-message__text {  
  @include m.adaptiv-font(18, 14);  
  @include m.lostText;

}

.info-message__link {
  @include m.lostText;
  font-size: 14px;
  
  &:hover,
  &:focus {
    color: v.$accent1;
    outline: none;
  }
}
