@use '../../global-styles/variables.scss' as v;
@use '../../global-styles/mixins.scss' as m;

.catalog {
  @include m.container;
  padding: 20px 45px;
  position: relative;

  @media screen and (max-width: v.$mobileWidth) {
    padding: 7px 25px;
  }
}

.catalog__title {
  margin-bottom: 20px;

  @media screen and (max-width: v.$mobileWidth) {
    margin-bottom: 15px;
  }
}

.catalog__box {
  width: 100%;
  min-height: 120vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 20px;

  @media screen and (max-width: v.$desktopWidth) {
    grid-template-columns: repeat(3, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$tabletWidth) {
    grid-template-columns: repeat(2, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$mobileWidth) {
    grid-template-columns: repeat(1, minmax(205px, 1fr));
    gap: 15px;
  }
}
