@use '../../global-styles/variables.scss' as v;
@use '../../global-styles/mixins.scss' as m;

.catalog__box {
  @include m.container;
  @include m.containerPaddings;
  padding-top: 10px;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  margin-bottom: 20px;

  @media screen and (max-width: v.$desktopWidth) {
    grid-template-columns: repeat(3, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$tabletWidth) {
    grid-template-columns: repeat(2, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$mobileWidth) {
    grid-template-columns: repeat(1, minmax(205px, 1fr));
  }
}

.catalog__table {
  @include m.container;
  @include m.tablePaddings;
  border-spacing: 10px; 
}

.catalog__fetching {
  width: 100%;
  height: 50px;
}
