@use '../../global-styles/variables.scss' as v;
  
.lost__title {
  color: v.$text-dark;
  font-size: 24px;
  text-align: center;
  margin: 10px 0 10px 0;
}

.lost__text {
  font-size: 20px;
  color: v.$text-dark;
  display: flex;
  width: max-content;
  padding: 10px 0;
  margin-bottom: 10px;
  margin: 0 auto;
}

.lost__link {
  font-size: 14px;
  color: v.$text-dark;
  display: flex;
  width: max-content;
  padding: 10px 0;
  margin-bottom: 10px;
  margin: 0 auto;

  &:hover,
  &:focus {
    color: v.$accent1;
    outline: none;
  }
}
