@use '../../global-styles/variables.scss' as v;
@use '../../global-styles/mixins' as m;
  
.lost__title {  
  @include m.adaptiv-font(18, 14);  
  @include m.lostText;
  font-weight: 400;
  margin-top: 5px;
}

.lost__text {  
  @include m.adaptiv-font(18, 14);  
  @include m.lostText;
  font-size: 20px;
}

.lost__link {
  @include m.lostText;
  font-size: 14px;
  
  &:hover,
  &:focus {
    color: v.$accent1;
    outline: none;
  }
}
