@use './variables' as v;

$maxWidth: 1200;

@mixin adaptiv-font($desktopFontSize, $mobileFontSize) {
	$addSize: $desktopFontSize - $mobileFontSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: 767px) {
		font-size: calc(#{$mobileFontSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}

  @media (max-width: 767px) {
		font-size: calc(#{$mobileFontSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
}

@mixin container {
	width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin containerPaddings {
	padding-left: 45px;
	padding-right: 45px;

	@media screen and (max-width: v.$tabletWidth) {
		padding-left: 30px;
		padding-right: 30px;
  }

  @media screen and (max-width: v.$mobileWidth) {
		padding-left: 20px;
		padding-right: 20px;
  }
} 

@mixin tablePaddings {
	padding-left: 35px;
	padding-right: 35px;

	@media screen and (max-width: v.$tabletWidth) {
		padding-left: 20px;
		padding-right: 20px;
  }

  @media screen and (max-width: v.$mobileWidth) {
		padding-left: 10px;
		padding-right: 10px;
  }
} 

@mixin searchPaddings {
	padding-left: 100px;
	padding-right: 100px;

	@media screen and (max-width: v.$tabletWidth) {
		padding-left: 30px;
		padding-right: 30px;
  }

  @media screen and (max-width: v.$mobileWidth) {
		padding-left: 20px;
		padding-right: 20px;
  }
}

@mixin lostText {
	color: v.$text-dark;
  display: flex;
  width: max-content;
  padding: 5px 0;

}
