$maxWidth: 1440px;
$desktopWidth: 1023px;
$tabletWidth: 767px;
$mobileWidth: 576px;

$white: #ffffff;
$black: #201F1E;
$text: #ffffff;
$accent1: #98F8A0;
$accent2: #454EEC;
$gray: #e7e7e7;
$box-shadow1: 0px 0px 14px rgba(0, 0, 0, 0.1);
$box-shadow2: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

$transition: all 0.3s ease;