$maxWidth: 1440px;
$desktopWidth: 1024px;
$tabletWidth: 767px;
$mobileWidth: 576px;

$white: #ffffff;
$text-light: #ffffff;
$text-dark: #201F1E;
$accent1: #2AABE4;
$gray: #d4d4d4;
$box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.45);
$mask: rgba(0, 0, 0, 0.35);

$transition: all 0.3s ease;

$zi-bg-search: -1;
$zi-nav: 1;
$zi-item-mask: 2;
$zi-button-up: 3;
$zi-header: 4;
