@use '../../global-styles/variables' as v;

.item {
  width: 100%;
  height: 200px;
    // margin-bottom: 12px;
  border-radius: 3px;
  overflow: hidden;  
  background-color: rgb(152, 152, 152);
  position: relative;
  transition: v.$transition;
};

.item__img {
  width: inherit;
  height: inherit;
  line-height: 0;  

  & img {
    width: 100%;
    height: 100%;
    min-height: 150px;
    object-fit: cover;
    object-position: center;
  }
};

.item__img--loading {
  filter: blur(5px);
}

.item__img--loaded {
  filter: blur(0);
  transition: filter 0.4s linear;
}

.item__mask {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: v.$mask;

  display: none;
  opacity: 0;
  animation: fadeOutFromBlock 0.4s ease-in-out;

  @media screen and (max-width: v.$tabletWidth) {
    padding: 15px;
  }
}

.item:hover .item__mask {
  display: flex;
  animation: fadeInFromNone 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutFromBlock {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.item__info {
  text-align: center;
  max-height: 59px;
  display: -webkit-box;
  -webkit-line-clamp: 2; // numbers of rows
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__decor {
  height: 15px;
  width: 50px;
  position: relative;
}

.item__decor::before {
  display: block;
  width: 100%;
  border-radius: 3px;
  content: "";
  position: absolute;
  border-bottom: solid 2px v.$white;
  bottom: 4px;
  left: 0;
}

.item__favorite {
  display: block;
  padding: 7px 30px;
  border-radius: 50px;
  border: solid 1px v.$white;
  color: v.$text-light;
  margin-top: 17px;

  @media screen and (max-width: v.$tabletWidth) {
    padding: 7px 20px;
  }

  &.item__favorite--active {
    border: solid 1px v.$accent1;
    color: v.$text-dark;

    background-color: v.$accent1;
  }
}

.item__info:first-letter,
.item__favorite:first-letter {
  text-transform: uppercase;
}

// ----- special states ----- 
.item__favorite:hover {
  @media screen and (min-width: v.$tabletWidth) {
    border: solid 1px v.$accent1;
    color: v.$accent1;
    cursor: pointer;
  }
}
