@use '../../global-styles/variables.scss' as v;

.header {
  position: sticky;
  top: 0;
  z-index: 4;

  // box-shadow: 0 1px 0 #f7f7f7;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 45px;

  @media screen and (max-width: v.$mobileWidth) {
    padding: 5px 25px;
  }
}

.header__box {
  display: flex;
  align-items: center;

  @media screen and (max-width: v.$mobileWidth) {
    justify-content: space-between;
    width: 100%;
  }  
}

.logo {
  display: flex;
  align-items: center;
  width: max-content;
  color: v.$text-dark;

  & svg {
    stroke: v.$text-dark;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    transition: v.$transition;

    @media screen and (max-width: v.$tabletWidth) {
      width: 40px;
      height: 40px;
    }

    @media screen and (max-width: v.$mobileWidth) {
      margin-right: 5px;
    } 
  }

  & span {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: v.$tabletWidth) {
      font-size: 26px;
    }

    @media screen and (max-width: v.$mobileWidth) {
      font-size: 22px;
    } 
  }
}

.header__burger {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: -10px;
  transition: all 300ms ease-in-out;

  & svg {
    stroke: v.$text-dark;
  }

  @media screen and (max-width: v.$mobileWidth) {
    display: block;
  }  
}

.nav {
  position: relative;
  transform: translateX(0);  

  @media screen and (max-width: v.$mobileWidth) {
    height: 100%;
    width: 240px;
    padding: 60px 0 30px 0;
    background-color: v.$white;
    box-shadow: v.$box-shadow;
    transform: translateX(105%);  

    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    animation-name: navClose;
    animation-duration: 1s;
  } 
}

@keyframes navOpen {
  from {
    transform: translateX(105%);    
  }
	to {
    transform: translateX(0);
  }
}

@keyframes navClose {
  from {
    transform: translateX(0);
  }
	to {
    transform: translateX(105%);    
  }
}

.nav__list {
  display: flex;
  align-items: center;

  @media screen and (max-width: v.$mobileWidth) {
    flex-direction: column;
  }
}

.nav__item {
  margin-left: 30px;

  @media screen and (max-width: v.$tabletWidth) {
    margin-left: 20px;
  }

  @media screen and (max-width: v.$mobileWidth) {
    margin-left: 0;
    width: 100%;  
  }
}

.nav__link {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  color: v.$text-dark;
  text-transform: capitalize;

  @media screen and (max-width: v.$tabletWidth) {
    font-size: 18px;
  }

  @media screen and (max-width: v.$mobileWidth) {
    font-size: 16px;
    display: flex;
    align-items: center;

    width: 100%;
    height: 45px;
    padding: 0 30px 0 30px;
  }  
}

// ----- special states ----- 
.logo {
  @media screen and (min-width: v.$tabletWidth) {
    cursor: pointer;
    transition: v.$transition;
  
    &:hover {
      color: v.$accent1;
      outline: none;
      transition: v.$transition;
    }
    
    &:hover svg {
      stroke: v.$accent1;
      transition: v.$transition;
    }
  }
}

.nav__link {
  @media screen and (min-width: v.$tabletWidth) {
    cursor: pointer;
  
    &:hover {
      color: v.$accent1;
      outline: none;
    }   
  }
}

.nav--open {
  transform: translateX(0);
  animation-name: navOpen;
  animation-duration: 1s;
}

.header__burger-close {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;

  width: 50px;
  height: 50px;
  margin-right: -10px;
  transition: all 300ms ease-in-out;

  & svg {
    stroke: v.$text-dark;
  }

  @media screen and (max-width: v.$mobileWidth) {
    display: block;
  } 
}

.header--index {
  margin-bottom: 200px;

  & .logo {
    color: v.$white;
  }

  & .logo svg {
    stroke: v.$white;
  }    

  & .nav__link {
    color: v.$white;

    @media screen and (max-width: v.$mobileWidth) {
      color: v.$text-dark;
    } 
  }

  & .header__burger svg {
    @media screen and (max-width: v.$mobileWidth) {
      stroke: v.$white;
    }    
  }
}

.nav__link.active {
  color: v.$accent1;
}
