@use '../../global-styles/variables.scss' as v;
@use '../../global-styles/mixins' as m;

.search {
  width: 100%;
  height: 180px;
  @include m.searchPaddings;
  padding-bottom: 45px;
  box-shadow: 0 6px 4px -4px rgba(v.$text-dark, 0.6);
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-align: center;
  color: v.$white;
  position: relative;

  @media screen and (max-width: v.$tabletWidth) {
    height: 170px;
    padding-bottom: 30px;
  }

  @media screen and (max-width: v.$mobileWidth) {
    padding-bottom: 25px;
    height: 140px;
  }
}

.search__bg {
  position: relative;
  width: 100vw;
  height: calc(200px + 64px);
  flex-shrink: 0;

  background: url('../../assets/bg.jpg') center/cover no-repeat;
  background-color: v.$gray;
  filter: brightness(60%);

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: v.$zi-bg-search;

  @media screen and (max-width: v.$mobileWidth) {
    height: calc(190px + 60px);
  }
}

.search__text {
  line-height: 1.2;
  @include m.adaptiv-font(24, 14);
  font-weight: 600;
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: start;

  @media screen and (min-width: v.$maxWidth) {
    font-size: 28px;
  }

  @media screen and (max-width: v.$tabletWidth) {
    text-align: justify;
  }

  @media screen and (max-width: v.$mobileWidth) {
    margin-bottom: 20px;
  }
}
