@use '../../global-styles/variables.scss' as v;
@use '../../global-styles/mixins' as m;

.search {
  width: 100%;
  height: 200px;
  padding: 0 100px 45px 100px;

  display:  flex;
  flex-direction: column;
  justify-content: flex-end;

  text-align: center;
  color: v.$white;
  position: relative;

  // animation-name: base;
  // animation-duration: 1s;  

  // @media screen and (max-width: v.$desktopWidth) {
  //   animation-name: baseMobile;
  // }

  @media screen and (max-width: v.$tabletWidth) {
    padding: 0 45px 30px 45px;
  }

  @media screen and (max-width: v.$mobileWidth) {
    padding: 0 25px 25px 25px;
    height: 190px;
  } 
}

.search::before {
  content: '';
  width: 100vw;
  height: calc(200px + 64px);

  background: url('../../assets/bg.jpg') center/cover no-repeat;
  background-color: v.$gray;
  transform: translateX(0) translateY(-64px);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media screen and (max-width: v.$mobileWidth) {
    height: calc(190px + 60px);
    transform: translateX(0) translateY(-60px);
  }
}

// @keyframes active {
//   from {
//     height: 43vh;  
//   }
// 	to {
//     height: calc(100vh - 59px - 532px);
//   }
// }

// @keyframes base {
//   from {
//     height: calc(100vh - 59px - 532px);
//   }
// 	to {
//     height: 43vh;    
//   }
// }

// @keyframes activeMobile {
//   from {
//     height: 43vh;  
//   }
// 	to {
//     height: 15vh;
//   }
// }

// @keyframes baseMobile {
//   from {
//     height: 15vh;
//   }
// 	to {
//     height: 43vh;    
//   }
// }

// .search--active {
//   height: calc(100vh - 59px - 532px);
//   // animation-name: active;
//   // animation-duration: 1s;

//   @media screen and (max-width: v.$desktopWidth) {
//     height: 15vh;
//     // animation-name: activeMobile;
//   }
// }

// .search--active .search__title,
// .search--active .search__text {
//   display: none;
// }

.search__text {
  line-height: 1.2;
  @include m.adaptiv-font(28, 18);  
  font-weight: 600;
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: start;

  @media screen and (min-width: v.$maxWidth) {
    font-size: 28px;
  }
}

.search__form {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
}

.search__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 10px 0 25px;
  border-radius: 7px;
  background-color: v.$white;

  @media screen and (max-width: v.$mobileWidth) {
    height: 35px;
    border-radius: 3px;
  } 
}

.search__input {
  width: 100%;
  height: 100%;
  display: block;
  @include m.adaptiv-font(20, 12);

  @media screen and (min-width: v.$maxWidth) {
    font-size: 20px;
  }
}

.search__reset {
  width: 50px;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  & svg {
    stroke: v.$text-dark;
    transform: scale(0.8);
  }
}

.search__reset--active {
  display: flex;
}

.search__submit {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    stroke: v.$text-dark;
    margin-bottom: -3px;
    transform: scale(0.7) rotate(-90deg);
  }
}

// ----- special states ----- 
.search__box {
  transition: v.$transition;

  @media screen and (min-width: v.$tabletWidth) {
    &:hover {
      transition: v.$transition;
      box-shadow: 0px 0px 14px rgba(v.$white, 0.6);
    }    
  }
}

.search__reset,
.search__submit {
  @media screen and (min-width: v.$tabletWidth) {
    &:hover svg {
      stroke: v.$accent1;
    }    
  }
}
